
#title{
    color: red;
	font: 1.8vw TimesNewRoman;
}
.columnHead{
    font-size: 1.4em;
    text-decoration: underline;
}

.menu{
    list-style-type: none;
	margin-top: 8vh;
	font-family: arial;
}

.code{
    font-size: 1.4em;
    text-decoration: underline;
}
.note{
    margin-top: 15vh;
    font-size: 1.2vw;
    position: absolute;
}

.menuText{
	font: 1.1em arial;
}

a{
    text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#github{
    margin-top: 12vh;
    margin-left: 4vw;
    position: absolute;

}

#thanks{
    color: red;
    font-size: 1.em;
    margin-bottom: 10%;
}

#copyright{
    font-size: .8vw; 

}

li{
	font-size: 1.5vw;
}

.tableHead{
	font-size: 1.5vw;
	text-decoration: underline;
}

#returnEmail{
	margin-top: 12vh;
	margin-left: -2vw;
	font-family: arial;
}
